<div class="row justify-content-center g-3 mt-3">
    <div class="col-sm-6">
        <div class="option-card">

            <div class="option-card__icon">
                <fa-icon [icon]="faToolbox"></fa-icon>
            </div>
            <div class="option-card__title">
                Salida de equipos y herramienta
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="option-card">
            <div class="option-card__icon">
                <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
            </div>
            <div class="option-card__title">
                Administración de equipos y herramienta
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="option-card">

            <div class="option-card__icon">
                <fa-icon [icon]="faUserGroup"></fa-icon>
            </div>
            <div class="option-card__title">
                Administración de usuarios
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="option-card">

            <div class="option-card__icon">
                <fa-icon [icon]="faUserPen"></fa-icon>
            </div>
            <div class="option-card__title">
                Editar perfil
            </div>
        </div>
    </div>
</div>